@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    CustomersServiceApp to aplikacja obsługująca bazę danych CustomersDb wykorzystując metody CRUD.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Kod źródłowy aplikacji dostępny jest na GitHub.
                </p>
                <p>
                    <a href="https://github.com/bTusinski/CustomersServiceApp" class="stretched-link">Zobacz kod źródłowy</a>
                </p>
            </div>
        </div>
    </div>
</div>

